<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pass show hide</title>
    <style>

    </style>
    <script type="text/javascript"  src="../../static/references/jquery.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#check').click(function () {
                var test=$('#check').prop('checked');
                if(test==true){
                    $('#pass').attr('type','text');
                }
                else {
                    $('#pass').attr('type','password');
                }

        });
        });


    </script>
</head>
<body>
<label for="pass">password :</label>
<input type="password" id="pass">
<input type="checkbox" id="check" >
<label for="check">show password</label>
<div id="debug"></div>

</body>
</html>