<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lsearch</title>

    <style>
        #list{
            border: solid 1px red;
        }
        ul{
            list-style: none;
            padding-left: 10px;
        }
    </style>
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#suggest').keyup(function ()
            {
               var query = $('#suggest').val();
               $.get("/search/", {suggest:query},function( data ){
                     $("#list").html( data );


        });

        });
});

    </script>
</head>
<body>
<form >

    <table >
        <tr style=" vertical-align: text-top;">
            <td><label for="searchbox">searchbox=</label></td>
            <td><div>

                    <input type="text" id="suggest" >
                        <div id="list">
                            <ul id="SearchResult">

                            </ul>
                        </div>
                </div>
            </td>
        </tr>
    </table>
</form>

</body>
</html>