<html lang="en">
	<head>
		<link rel="icon" href="../static/images/logo.png">

		<title>
			AKSKUS
		</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="../static/references/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/references/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <script src="../static/references/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <style></style>
        <link rel="stylesheet" href="../static/css/log_and_signup.css">
        <link rel="stylesheet" href="../static/css/home.css">

        <script type="text/javascript">
            $(document).ready(function () {
        $('#button').click(function () {
            $('#progress').html('tp done')
        })
            });

        </script>
	</head>
	<body>
    <div id="full" class="">
    <div id="container" class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" >
            <div class="navbar-header" style="float: none;padding-right: 2%;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hide_small">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <img src="../static/images/logo.png" class="navbar-brand">
                    <div class="row">
        <div class="form-group ">
        <label class="col-sm-1 control-label" for="input_pass" style="font-size: 20px"></label>
        <div class="col-sm-4">
            <table>
                <tr>
                    <td><input type="text" class="form-control input-lg" id="input_search" placeholder="Search"></td>
                </tr>
                <tr >
                    <td style="background: white;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; font-size: 18px">
                        aa</td>
                </tr>
                </table>
        </div>
            <div class="col-sm-5">

                <div class="adjust" id="id_dp" style="float: right" >

                <form class=" form-inline" role="form">

                <label for="id"  class="lab" style="font-size: 30px">
                    <img id="dp" src="../static/images/mustaches%20dp.jpg" class="img-thumbnail">
                    Ajay kushwaha
                </label>

                </form>

                </div>


            </div>
            </div>

    </div>
  </div>
            <div id="hide_small">

            </div>

        </div>

    </div>
        <br><br>
<div class="container" id="container-panel">
  <div class="row">
      {% for some in all%}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ some.name}}</div>
        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">{{ some.mob_num}}</div>
      </div>
    </div>
{% endfor %}
    </div>


</div>
</div>
    <div id="foot" class="navbar navbar-inverse navbar-fixed-bottom">
   </div>
    </body>

</html>